@charset "utf-8";
/* CSS Document */

#contenido	{
			width:: 700px;
			margin: 0 auto;
			padding: 30px;
			position: relative
			}

.caja1	{
		width: 100px;
		height: 100px;
		background: #FC6;
		position: absolute;
		top: 0
		}

@-webkit-keyframes mover_caja	{
								0%{left: 90%;}
								50%{left:10%;}
								100%{left: 90%;}
								}

@-moz-keyframes mover_caja	{
								0%{left: 90%;}
								50%{left:10%;}
								100%{left: 90%}
								}

.caja1	{
		-webkit-animation:mover_caja 5s infinite;
		-moz-animation:mover_caja 5s infinite;
		}
