@charset "utf-8";
/* CSS Document */

@import url(fonticons/css/font-awesome.min.css);

body{
	background-color:#3CC}

header{
	background-color:#000;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF !important}
.caja{
	background-color:#39F;
	font-family:Arial, Helvetica, sans-serif;
	color:#FC9;}
.caja1{
	background-color:#636;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
	height:506px;}
.caja2{
	background-color:#39F;
	font-family:Arial, Helvetica, sans-serif;
	color:#FC9;
	height:100%;}
	
#aviso{
	position:fixed;
	right:0;
	top:50%;
	background-color:#2EA0C9;
	color:#000000;
	padding:10px 20px 20px 50px;
	width:140px;
	border-radius:150px 0 0 150px;
	text-align:right;
	display:none;
	}	
#aviso h5{
	margin:0;
	}