<!DOCTYPE html>
<html lang="en" ng-app="miapp">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport">

	<title>Banner con JSON</title>
	
	<meta name="theme-color" content="#1a1a1a">
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="My%20Brand_files/main.css">
	
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<![endif]-->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/miapp.js"></script>
    <script src="js/jquery-1.11.3.min.js"></script>
    
    <script type="text/javascript">
	$(document).ready(function() {
		$('#cambio').click(function(){
			$('#content').css('background-color', '#FF4000');
		});                       
	});    
</script>
</head>

<body>
	<div class="container">
		<header>
			<h1>BANNER CON JSON</h1>
			<h3>	.</h3>
		</header>
		
		<div class="main">
			<div style="position: relative; height: 450px;" class="slider"><div style="position: relative; width: 100%; height: 100%; margin: 0px auto; padding: 0px; background-color: inherit; overflow: hidden;"><figure class="slider-active" style="position: absolute; display: block; opacity: 0.711467;">
            <img src="My%20Brand_files/forthbridge.jpeg" alt="Forth Bridge"></figure><figure class="" style="position: absolute; display: block; opacity: 0.288533;">
            <img src="My%20Brand_files/hunting-canmore-alberta-canada.jpeg" alt="Bridge Hunting Canmore Alberta Canada"></figure><figure class="" style="position: absolute; display: none;">
            <img src="My%20Brand_files/sacramento-river.jpeg" alt="Bridge on the Sacramento River"></figure>
            <figure class="" style="position: absolute; display: none;">
            <img src="My%20Brand_files/rfk.jpeg" alt="RFK at sunrise"></figure>
            <figure class="" style="position: absolute; display: none;">
            <img src="My%20Brand_files/oracionadviento01.jpeg" alt="Oracion Adviento"></figure>
            </div></div>
			
			<section>
				<div class="container" id="main-container" ng-controller="controlador">
    	<div class="row">
        	Buscar <input type="text" ng-model="textobusqueda">
        </div>
        <div class="row">
        
        	<div class="col-sm-4" ng-repeat="empleado in empleados | filter:textobusqueda">
            	<ul class="list-group">
                	<li class="list-group-item">
					    <span class="badge">{{empleado.foto}}</span>
				    			Foto
                                <div><figure><img src="image/1.jpg" onmouseover="this.src='image/2.jpg';" onmouseout="this.src='image/1.jpg';"/></figure></div>
  					</li>
  					<li class="list-group-item">
					    <span class="badge">{{empleado.nombre}}</span>
				    			Nombre
  					</li>
                    <li class="list-group-item">
					    <span class="badge">{{empleado.edad}}</span>
				    			Edad
  					</li>
                    <li class="list-group-item">
					    <span class="badge">{{empleado.pais}}</span>
				    			Pais
  					</li>
                    
				</ul>
            </div>
        </div>
    </div>
			</section>
		</div>
	</div>

	<!--scripts-->
	<script src="My%20Brand_files/jquery_002.js"></script>
	<script src="My%20Brand_files/jquery.js"></script>
	
	<script>
		$( document ).ready(function() {
			
			$( '.slider' ).jsonSlider({
				json: 'image.json',
			});
		});
	</script>

</body></html>